<html>
  <%- include("./partial/title.ejs") %>
  <div class="container">
    <div class="blog">
      <div class="title">Title is Here</div>
      <div class="image"><img src="/sample.jpeg" alt="sample" /></div>
      <div class="content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos commodi
        consectetur fugiat ab iste est velit magnam architecto quod libero? At,
        nemo! Iure unde similique esse exercitationem aliquam quod molestias
        dicta quidem officia necessitatibus dolor mollitia molestiae vero
        asperiores ipsam, dolorem cum nihil, inventore repellat totam ipsa
        corrupti odio perferendis.
      </div>
    </div>
  </div>
</html>
