<div class="center">
    <div class="box">
        <img src="<%= image %>" alt="unsplash" />
        <div class="title"><%= title %></div> <hr> <br>
        <div class="content">
<%= break_content %>
        </div>
        <div class="read_more">Read More  <i class="fas fa-angle-double-down"></i></div>
      </div>      
</div>
