<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Muslim Tube | <%= title %> </title>
</head>
<body>
    <div class="jumbotron">
        <div class="title">Muslim Tube</div>
        <div class="subtitle">A Video Site Where you can find Cool Things!</div>
    </div>
    <!-- Navbar -->
    <nav>
        <a href="#" class="nav-item active">Home</a>
        <a href="#" class="nav-item">About</a>
        <a href="#" class="nav-item">Contact</a>
        <a href="#" class="nav-item">More</a>
    </nav>
</body>
